@import url("../../variables.css");

.footer {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;

  width: 100%;
  background-color: var(--color-3);

  border-top: 3px solid var(--color-2);
}

.footer nav ul li img {
  width: 40px;
}

.footer nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;

  gap: clamp(3.5rem, 12.5vw, 12.5rem);

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
