.loginpage {
  min-height: 100%;
  width: 100%;
  background-color: var(--color-1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginpage .container-1 {
  height: fit-content;
  background-color: var(--color-2);
  padding: 1rem;
}
