@import url('./variables.css');

#root {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app_main {
  overflow: auto;
  overflow-x: hidden;
  min-height: 0;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar (keep scrolling) */
  scrollbar-width: none;
  -ms-overflow-style: none;

  background-color: var(--color-main);
}

.app_main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.app_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
