@import url('./variables.css');

#root {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app_main {
  overflow: auto;
  min-height: 0;
  -webkit-overflow-scrolling: touch;

  background-color: var(--color-main);
}

.app_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
