.header {
  display: grid;
  width: 100%;
  height: 7.5em;
  background-color: var(--color-2);

  background-image: url("../../assets/images/Header/bg3.jpg");
  background-position-y: 80%;
  background-size: cover;
  border-bottom: 8px solid var(--color-3);
}

.header img {
  margin: 0px;
  width: 128px;
}
